a=rtcp raises exception when value is a port without an address

sdp.py line 489 expects the rtcp attribute to contain both a port and an address

```
                    elif attr == "rtcp":
                        port, rest = value.split(" ", 1)
                        current_media.rtcp_port = int(port)
                        current_media.rtcp_host = ipaddress_from_sdp(rest)
```

However while the port is required, the address is only optional. Parsing an attribute that only contains a port eg `a=rtcp:16845` will raise an exception:

```
File "/usr/local/lib/python3.13/dist-packages/aiortc/sdp.py", line 489, in parse
  port, rest = value.split(" ", 1)
  ^^^^^^^^^^
ValueError: not enough values to unpack (expected 2, got 1)
```

Note the ABNF definition and first example from RFC3605.

```
   The formal description of the attribute is defined by the following
   ABNF [RFC2234] syntax:

   rtcp-attribute =  "a=rtcp:" port  [nettype space addrtype space
                         connection-address] CRLF

   In this description, the "port", "nettype", "addrtype" and
   "connection-address" tokens are defined as specified in "Appendix A:
   SDP Grammar" of [RFC2327].

   Example encodings could be:

    m=audio 49170 RTP/AVP 0
    a=rtcp:53020

    m=audio 49170 RTP/AVP 0
    a=rtcp:53020 IN IP4 126.16.64.4

    m=audio 49170 RTP/AVP 0
    a=rtcp:53020 IN IP6 2001:2345:6789:ABCD:EF01:2345:6789:ABCD
```